# Dependencies
node_modules/
dist/
.vite/
*.local
package-lock.json

# Environment variables
.env
.env.*
!.env.example

# Editor/IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Testing
coverage/
.nyc_output/
testBuild/

# Debug
debug.log 

# Development version file
public/version.dev.json

# Reference files
ref-*